body{
  min-height: 100%;
  /*background-image: url("/static/img/black-pikachu.jpg");,linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.3));*/
  background-color: #fff;
  background-blend-mode: screen;
  background-size: cover;
}

.index{
  font-family: 'SegoeUI','Tahoma','Geneva','Verdana','sans-serif';
  font-size: 3rem;
  color: #007960;
}

.center{
  height: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about{
  font-size: 12;
  color: #ffa500;
  margin: 5%;
}

.barnner{
  background-color: #065a61;
  height: 3.0rem;
  width: 100%;
  color: #ffa500;
}

.barnner-font{
  background-color: transparent;
  font-family: 'Ubuntu', sans-serif;
  font-size: 2em;
  color: #ffa500;
  font-weight: 900;
  vertical-align: middle;
  outline: 0;
  border: 0;
  @include transition(background-color 0.3s ease);
}

#footer {
  position: absolute;
  bottom: 0;
  width: 98%;
  height: 2.5rem;
}

#single-board{
  width: 100px;
  margin: 0 auto;
}

.content{
  margin: 3%;
}
