<!DOCTYPE html>
<html>
 <head>
   <meta charset="UTF-8">
   <link rel="stylesheet" href="/static/css/default.css">
   <script src="https://p.trellocdn.com/embed.min.js"></script>
   <script src="https://platform-api.sharethis.com/js/sharethis.js#property=5cde90a88f5f8800127d3507&product=inline-follow-buttons"></script>
   <title>About</title>
 </head>
 <body>
   <div class="barnner">
     <button class="barnner-font">About</button>
   </div>
   <div class="content">
     <!--<div class="about">{{.FirstName}} {{.LastName}}</div>
     <div id="single-board">
       <blockquote class="trello-board-compact">
        <a href="https://trello.com/b/m7JCAYDG.html">Trello Board</a>
       </blockquote>
     </div>
     -->
     <form method="get" action="https://duckduckgo.com/">
      <input size="40" name="q">
      <input type="submit" value="Search">
     </form>
   </div>
   <footer id="footer">
    <div style="position:absolut;ai" class="sharethis-inline-follow-buttons"></div>
   </footer>
 </body>
</html>
