<!DOCTYPE html>
<html>
 <head>
   <meta charset="UTF-8">
   <link rel="stylesheet" href="/static/css/default.css" type="text/css">
   <link rel="icon" href="/static/img/muted_16x16.png">
   <script src="https://p.trellocdn.com/embed.min.js"></script>
   <script src="https://platform-api.sharethis.com/js/sharethis.js#property=5cde90a88f5f8800127d3507&product=inline-follow-buttons"></script>
   <title>MuteIt</title>
 </head>
 <body>
   <div class="barnner">
     <button class="barnner-font">Make The World A Silent One</button>
     <img class="barnner-img" src="/static/img/kissclipart-pikachu_128x128.jpg">
   </div>
   <div class="content">
     <!--<div class="about">{{.FirstName}} {{.LastName}}</div>
     -->
     <form method="get" action="https://duckduckgo.com/" target="_blank">
      <input size="40" name="q">
      <input type="submit" value="Search">
     </form>
     </br>
     <table class="vid-table">
     <tr>
       <td><iframe width=320 height=215 src="https://www.youtube.com/embed/hXetO_bYcMo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></td>
       <td><iframe width=320 height=215 src="https://www.youtube.com/embed/Lh2wfKjrb5g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></td>
       <td><blockquote class="trello-board-compact"><a href="https://trello.com/b/m7JCAYDG.html"></a>
       </blockquote></td>
      </tr>
     </table>
   </div>
   <footer id="footer">
    <div style="position:absolut;ai" class="sharethis-inline-follow-buttons"></div>
    <p id="copyright-footer">© {{.FirstName}} {{.LastName}} All Rights Reserved.</p>
   </footer>
 </body>
</html>
