body{
  min-height: 100%;
  /**background-image: url("/static/img/black-pikachu.jpg");,linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.3));*/
  background-color: #000;
  background-blend-mode: screen;
  background-size: cover;
}

.about{
  font-size: 12;
  color: #ffa500;
  margin: 5%;
}

.barnner{
  background-color: #000;
  height: 8.0rem;
  width: 100%;
  color: #ffa500;
  margin: 2em;
}

.barnner-img{
  background: url("/static/img/kissclipart-pikachu_128x128.jpg") no-repeat;
  display: block;
  box-sizing: border-box;
  float: right;
  margin: 2em;
}

.barnner-font{
  background-color: transparent;
  font-family: 'Ubuntu', sans-serif;
  font-size: 2em;
  color: #ffa500;
  font-weight: 900;
  vertical-align: middle;
  outline: 0;
  border: 0;
  @include transition(background-color 0.3s ease);
}

#footer {
  position: absolute;
  bottom: 0;
  width: 98%;
  height: 2.5rem;
}

#single-board{
  width: 100px;
  margin: 0 auto;
}

.content{
  margin: 3%;
}

.vid-table{
/**  background-color: #071c42; */
}

#copyright-footer{
  color: #065a61;
  align: center;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1em;
  text-align: center;
  margin: 0 auto;
}
