<div class="row" id="clickstream">
  <div class="col-md-9">
    <table m-table title='clickstream metrics'>
      <tr>
        <td><div id="container_item_quan"></div></td>
        <td><div id="container_item_click"></div></td>
      </tr><tr>
        <td><div id="container_session_quan"></div></td>
        <td><div id="container_session_click"></div></td>
      </tr><tr>
        <td><div id="container_category_click"></div></td>
      </tr>
    </table>
  </div>
</div>
<router-outlet></router-outlet>
