<div class="row" id="user-event">
  <div class="col-md-9">
    <table m-table width="100%" align="center">
      <tr>
        <td><div id="container_newenergy"></div></td>
        </tr><tr>
        <td><div id="container_newenergy_kind"></div></td>
        </tr><tr>
        <td><div id="container_venture"></div></td>
        </tr><tr>
        <td><div id="container_color"></div></td>
        </tr><tr>
        <td><div id="container_production_country"></div></td>
        </tr><tr>
        <td><div id="container_brand"></div></td>
      </tr>
    </table>
  </div>
</div>
<router-outlet></router-outlet>
